<div class='contribute'>
  <h2>Contribute to {{ site.title }}</h2>
  <p>We welcome submissions from anyone in DSA. Whether you want to write for us or just know of stories we should be covering, please get in touch. There are three ways to contribute:</p>
  <ol>
    <li>Email:  <a href="mailto:NYCDSAElectoral@gmail.com">nycDSAelectoral@gmail.com</a>.</li>
    <li>Contact us on twitter: <a href="https://twitter.com/nycthorn">@nycthorn</a>.</li>
    <li><a href="https://dsachat-register.herokuapp.com/">Sign up for Rocket.chat</a> and join our <a href="https://dsausa.chat/channel/nyc-local-news">#nyc-local-news channel</a>.</li>
  </ol>
</div>
