{% extends "layouts/base.njk" %}
{% set pageName = 'Our Story' %}
{% set pageClass = 'home' %}
{% block title %}
    <title>The Thorn</title>
{% endblock %}

{% block content %}
	<div class="container thin posts-container">
    {% for post in posts %}
	    <section class="post" id="post-{{ post.id }}">
	    	<header class="post-header">
	    		<h1 class="post-title">{{ post.settings.subject_line }}</h1>
	    		<h5 class="post-date" data-send-time="{{ post.send_time }}">Sent on {{ post.send_time }}</h5>
	    	</header>
	    	<article class="post-body">
          <div class="post-html">
            {{ post.html | safe }}
          </div>
	    	</article>
	    </section>
    {% endfor %}
	</div>
{% endblock %}
