{% extends "layouts/base.njk" %}
{% set pageName = 'Our Story' %}
{% set pageClass = 'home' %}
{% block title %}
    <title>TheThorn</title>
{% endblock %}

{% block content %}
    <h1>Hello world</h1>
{% endblock %}
