// VIEWPORTS
$-sm-min: 320px;              // begin small viewport (smallest supported viewport size)
$-sm-max: 767px;              // end small viewport
$-md-min: 768px;              // begin medium viewport
$-md-max: 1068px;             // end medium viewport
$-lg-max: 1280px;             // end large viewport
$-max-width: 1440px;          // maximum width before revealing whitespace

// COLORS
$primary: #231F20;
$secondary: #231F20;
$black: #231F20;
$red: #EC1F27;

// FONTS
$font-serif: serif;
$font-sans: 'ManifoldDSA', sans-serif;
$font-header: "effra", "azo-sans-web", "ManifoldDSA", sans-serif;
$font-alt: Georgia, serif;