.archive-post {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid $red;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.archive-date-header {
    font-weight: 600;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.archive-title {
  margin-bottom: .3em;
}
