.global-header {
  margin-bottom: 2em;
}
.header-nav {
  position: relative;
  width: 90%;
  top: 0;
  left: 5%;
  height: 140px;
  display: flex;
  align-items: center;
  .dsa-logo {
    background-image: url('/images/nyc-dsa-logo_lg_2x.png');
    @include image-size(125px, 125px);
    margin: 0;
    @include viewport(md) {
      background-image: url('/images/nyc-dsa-logo_sm_2x.png');
      @include image-size(65px, 65px);
    }
  }
  .nav-list {
    margin-left: auto;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @include fluid-value(font-size, 16px, 22px);
    .nav-item {
      margin: 0 20px;
    }
  }
}
.header-logo {
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  svg {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
