.post {
  padding-bottom: 4em;
  margin-bottom: 2.5em;
  border-bottom: 1px solid $black;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.posts-container {
  margin-bottom: 2em;
}
.post-section + .post-section {
  margin-top: 2em;
}
.post-date-header {
  border: 2px solid $red;
  border-left-width: 0px;
  border-right-width: 0px;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.7rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  text-transform: uppercase;
}
.post-subheader,
.post .post-body {
  h2 {
    font-weight: 900;
    @include fluid-value(font-size, 24px, 32px);
    text-transform: uppercase;
  }
  span > strong > span {
    font-weight: 900;
    @include fluid-value(font-size, 22px, 28px);
    text-transform: uppercase;
  }
  strong > font[color="#ff0000"] {
    background-color: #ff0000;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    @include fluid-value(font-size, 24px, 32px);
    margin-bottom: .4em;
    padding: .5em 1em;
    text-align: center;
    width: 100%;
  }
}
.post-title {
  font-weight: 900;
  @include fluid-value(font-size, 32px, 44px);
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.post-tags {
  .post-tag {
    display: inline-block;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
  }
}
.post-body {
  @include fluid-value(font-size, 18px, 24px);
  font-weight: 200;
  li + li {
    margin-top: 1em;
  }
  p + p {
    margin-top: 1em;
  }
  p + blockquote,
  blockquote + p {
    margin-top: 2em;
  }
  p strong span {
    font-size: 1.2em;
  }
  
  blockquote {
    line-height: 1.6;
    padding-left: 2em;
    border-left: 1px solid $red;
    @include fluid-value(font-size, 24px, 30px);
  }
  .post-list {
    list-style: disc;
    padding-left: 1em;
  }
  img {
    display: block;
    margin: 2em auto 0 auto;
    max-width: 100%;
    height: auto;
  }
  .post-url {
    margin-top: 2em;
  }
  .post-link {
    text-decoration: none;
  }
}
.post-more {
  margin-top: 2em;
}

.mcnTextBlock:first-of-type {
  font-size: .7em;
  margin-bottom: .7em;
}

.mcnFollowBlock {
  display: none;
}
// #post-2d16163e15 {
.mcnTextContentContainer .mcnTextContent {
  strong:first-of-type {
    font-weight: 900;
  }
}
.mcnTextContentContainer ul {
  list-style-type: disc;
  padding-left: 1.4rem;
}
// }
