{% set pageClass = pageClass|default('home') %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Document</title>{% endblock %}
    <meta property="analytics-track" content="The Thorn">
    <meta name="Description" content="The Thorn is a weekly news roundup of local politics by the NYC DSA.">
    <meta property="og:url" content="https://www.thethorn.nyc">
    <meta property="og:title" content="The Thorn">
    <meta property="og:description" content="The Thorn is a weekly news roundup of local politics by the NYC DSA.">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="The Thorn">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nycthorn">
    <meta name="twitter:creator" content="@nycthorn">
    <meta name="twitter:title" content="The Thorn">
    <meta name="twitter:description" content="The Thorn is a weekly news roundup of local politics by the NYC DSA.">
    <meta name="twitter:image" content="">
    <link rel="stylesheet" href="/main.css">
    <script tyep="text/javascript" src="/head.js"></script>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
</head>
<body class="{{ pageClass }}">
    <div style="width:0;height:0;display:none">{% include "icons.svg" ignore missing %}</div>
    <header class="global-header">
        <div class="header-nav">
            <a href="/" class="dsa-logo-link">
                <figure class="dsa-logo"></figure>
            </a>
            <nav class="nav-list">
                <a href="/" class="nav-item">home</a>
                <a href="/about" class="nav-item">about</a>
                <a href="#" class="nav-item link-cta">Subscribe</a>
            </nav>
        </div>
        <div class="header-logo">
            <figure class="logo"></figure>
        </div>
    </header>
        {% block content %}
            <h1>Base template content.</h1>
        {% endblock %}
    <footer class="footer">
        <ul class="social-links-list">
            <li class="social-links-item">
                <a href="#" class="social-link facebook"></a>
            </li>
            <li class="social-links-item">
                <a href="#" class="social-link twitter"></a>
            </li>
            <li class="social-links-item">
                <a href="#" class="social-link instagram"></a>
            </li>
        </ul>
        <div class="container thin center">
            <p class="footer-paragraph spacing">Produced by the <a href="http://www.socialists.nyc/" target="_blank">NYC DSA Media Working Group</a> in collabortion with the <a href="http://www.dsausa.org/design_committee" target="_blank">DSA National Design Committee</a>. This website was designed and built with 100% donated DSA volunteer labor.</p>
            <div class="row center">
                <p class="footer-paragraph">Illustrations by <a href="#" target="_blank">Real Name</a></p>
                <p class="footer-paragraph">Web Design by <a href="#" target="_blank">Real Name</a></p>
                <p class="footer-paragraph">Web Development by <a href="#" target="_blank">Real Name</a></p>
            </div>
        </div>
    </footer>

</body>

<script defer async src="/main.js"></script>
</html>
