.footer {
    padding: 60px 0;
    .social-links-list {
        text-align: center;
        margin-bottom: 2em;
    }
    .social-links-item {
        display: inline-block;
        vertical-align: middle;
        padding: 0 12px;
    }
    .social-link {
        display: block;
        &.twitter {
            //@include image(social-twitter);
        }
        &.facebook {
            //@include image(social-facebook);
        }
        &.instagram {
            //@include image(social-instagram);
        }
    }
}
.footer-paragraph {
    @include fluid-value(font-size, 12px, 14px);
    a {
        color: $red;
        text-decoration: none;
    }
    &.spacing {
        margin-bottom: 2em;
    }
}