.post + .post {
	margin-top: 4em;
}
.posts-container {
	margin-bottom: 2em;
}
.post-header {
	margin-bottom: 2em;
}
.post-title {
	font-weight: 900;
	@include fluid-value(font-size, 36px, 60px);
	text-transform: uppercase;
}
.post-tags {
	.post-tag {
		display: inline-block;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 14px;
	}
}
.post-body {
	p {
		@include fluid-value(font-size, 22px, 30px);
		font-weight: 200;
	}
	p + p {
		margin-top: 1em;
		text-indent: 2em;
	}
}