---
layout: base
---

<div class='posts-container'>
  {% for page in site.posts limit:5 %}
    <div class="post" id="post-{{ page.id }}">
      {% include post-header.html %}
      <article class="post-body">
        <div class="post-html">{{ page.content | truncatewords: 150 }}...</div>
        <div class="post-url">
          <a href="{{page.url}}" class="post-link link-cta">Read more</a>
        </div>
      </article>
    </div>
  {% endfor %}
  <a href="/archive" class="post-link link-cta">More Issues</a>
</div>
 
